/* global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* end global rules */
/* start components */
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* end components */
/* start sidebar */
.sidebar{
    position: relative;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px #ddd;
    background-color: white;
}
.sidebar h3{
    position: relative;
    padding-bottom: 20px;
    margin-top: 0;
    width: fit-content;
    margin: auto;
}
.sidebar h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    left: 0;
    bottom: 0   ;
}
.sidebar h3::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    bottom: -9px;
    left: 23px;
    border: 5px solid white;
    z-index: 3;
}
.sidebar ul li:first-child{
    margin-top: 20px;
}
.sidebar ul li{
    margin-top: 10px;
    transition: 0.3s;
}
.sidebar ul li:hover,
.sidebar ul .active
{
    background-color:#f6f6f6 ;
    border-radius: 0.5rem;
}
.sidebar ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    padding: 10px;
    border-radius: 8px;
}
@media(max-width:767px){
    .sidebar ul li a{
        display: none;
    }
    .sidebar>h3{
        font-size: 13px;
    }
    .sidebar>h3::after{
        display: none;
    }
    .sidebar>h3::before{
        display: none;
    }
    .sidebar{
        width: 60px;
        padding: 10px;
    }
}
/* end sidebar */
/* start page */
.page{
    min-height: 100vh;
    display: flex;
    background: #f1f5f9;
}
/* end page */
/* start dashboard */
.dashboard{
    width: 100%;
}
.dashboard .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
}
.dashboard .header .search{
    position: relative;
}
.dashboard .header .search input{
    transition: 0.3s;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.3125rem;
    width: 9.375rem;
    font-size: .9rem;
}
.dashboard .header .search input:focus{
    width: 200px;
}
.dashboard .header .search input:focus::placeholder{
    opacity: 0;
}
.dashboard .header .icons{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}
.dashboard .header .icons img{
    width: 1.8rem;
}
.dashboard .content .title{
    position: relative;
    width: fit-content;
    padding-bottom: 10px;
    font-size: 20px;
}
.dashboard .content .title::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    bottom: 20px;
}
.dashboard .content .title::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 3px;
    background: black;
    bottom: 20px;
    z-index: 3;
}
.dashboard .content .grid-box{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(460px,1fr));
    gap: 20px;
}
.dashboard .content .grid-box .box{
    position: relative;
    border-radius: 8px;
    background: white;
}
.dashboard .content .grid-box .box .box-title p{
    color: #888;
}
.dashboard .content .box .welcome-head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    background-color: #eee;
}
.dashboard .content .welcome-head img{
    width: 40%;
}
.dashboard .content .welcome-head .avatar{
    position: absolute;    
    width: 13%;
    padding: 5px;
    top: 120px;
    background: white;
    border-radius: 50%;
}
.dashboard .content .welcome-body{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
@media(max-width:767px){
    .dashboard .welcome-body{
        flex-direction: column;
    }
    .dashboard .welcome-body span{
        margin-bottom: 10px;
    }
    .dashboard .welcome-head .welcome-img{
        display: none;
    }
}
.dashboard .content .welcome-body span{
    display: block;
}
.dashboard .content .button{
    margin: 0 15px 15px auto;
    padding: 5px 10px;
    background: #0075ff;
    width: fit-content;
    border-radius: 8px;
}
.dashboard .content .button a{
    color: white;
}
.dashboard .content .draft{
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}
.dashboard .content .draft form input[type=text]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background: #eee;
    border-radius: 8px;
    padding: 6px;
}
.dashboard .content .draft textarea{
    display: block;
    width: 100%;
    height: 200px;
    border: none;
    background: #eee;
    border-radius: 8px;
    padding: 6px;
    resize: none;
    margin-bottom: 20px;
}
.dashboard .content .draft form input[type=submit]{
    width: fit-content;
    margin-left: auto;
    padding: 5px 10px;
    background: #0075ff;
    color: white;
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 8px;
}
.dashboard .content .draft form .draft-button:hover{
    background: #0d69d5;
}
.dashboard .content .draft .draft-button a{
    color: white;
}
.dashboard .content .targets{
    padding: 20px;
}
.dashboard .content .targets .target-progress{
    display: flex;
    gap: 20px;
    position: relative;
}
.dashboard .content .targets .blue .icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cce3ff;
    width: 80px;
    height: 80px;
    color: #0075ff;
    margin-bottom: 20px;
}
.dashboard .content .targets .yellow .icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fdecce;
    width: 80px;
    height: 80px;
    color: #f59e0b;
    margin-bottom: 20px;
}
.dashboard .content .targets .green .icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d2f4df;
    width: 80px;
    height: 80px;
    color: #22c55e;
}
.dashboard .content .targets .target-progress .details{
    flex: 1;
    margin-bottom: 20px;
}
.dashboard .content .targets .target-progress .details span:first-child{
    color: #8d8d8d;
}

.dashboard .content .targets .target-progress .details span:nth-child(2){
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.dashboard .content .targets .target-progress .details .money{
    position: relative;
    height: 4px;
    background: #cce3ff;
}
.dashboard .content .targets .target-progress .details .money>span{
    position: absolute;
    height: 4px;
    background: #0075ff;
}
.dashboard .content .targets .target-progress .details .money>span::after{
    content: "";
    position: absolute;
    border: transparent;
    border-style: solid;
    border-top-color: #0075ff;
    bottom: 6px;
    border-width: 5px;
    right: -5px;
}
.dashboard .content .targets .target-progress .details .money>span span{
    position: absolute;
    right: -16px;
    bottom: 16px;
    background: #0075ff;
    color: white;
    padding: 3px;
    border-radius: 8px;
    font-size: 14px;
}
.dashboard .content .targets .target-progress .details .projects{
    position: relative;
    height: 4px;
    background: #fdecce;
}
.dashboard .content .targets .target-progress .details .projects>span{
    position: absolute;
    height: 4px;
    background: #f59e0b;
}
.dashboard .content .targets .target-progress .details .projects>span::after{
    content: "";
    position: absolute;
    border: transparent;
    border-style: solid;
    border-top-color: #f59e0b;
    bottom: 6px;
    border-width: 5px;
    right: -5px;
}
.dashboard .content .targets .target-progress .details .projects>span span{
    position: absolute;
    right: -16px;
    bottom: 16px;
    background: #f59e0b;
    color: white;
    padding: 3px;
    border-radius: 8px;
    font-size: 14px;
}
.dashboard .content .targets .target-progress .details .team{
    position: relative;
    height: 4px;
    background: #d2f4df;
}
.dashboard .content .targets .target-progress .details .team>span{
    position: absolute;
    height: 4px;
    background: #22c55e;
}
.dashboard .content .targets .target-progress .details .team>span::after{
    content: "";
    position: absolute;
    border: transparent;
    border-style: solid;
    border-top-color: #22c55e;
    bottom: 6px;
    border-width: 5px;
    right: -5px;
}
.dashboard .content .targets .target-progress .details .team>span span{
    position: absolute;
    right: -16.5px;
    bottom: 16px;
    background: #22c55e;
    color: white;
    padding: 3px;
    border-radius: 8px;
    font-size: 14px;
}
.dashboard .stats{
    padding: 20px;
}
.dashboard .stats .stats-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.dashboard .stats .stats-grid .stats-box{
    width: 225px;
    height: 140px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.dashboard .stats .stats-box i{
    margin-top: 20px;
    margin-bottom: 10px;
}
.dashboard .stats .stats-box span:nth-child(2){
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
.dashboard .stats .stats-box span:last-of-type{
    color: #888;
}
.dashboard .stats .total i{
    color: #f59e0b;
}
.dashboard .stats .pending i{
    color: #0075ff;
}
.dashboard .stats .closed i{
    color: #22c55e;
}
.dashboard .stats .deleted i{
    color: #f44336;
}
.dashboard .news{
    padding: 20px;
}
.dashboard .news .news-box{
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.dashboard .news .news-box img{
    width: 100px;
    border-radius: 8px;
}
.dashboard .news .news-box .text{
    flex-grow: 1;
}
.dashboard .news .news-box .text h3{
    font-size: 16px;
}
.dashboard .news .news-box .text p{
    color: #888;
    font-size: 14px;
}
.dashboard .news .news-box .days{
    background: #eee;
    padding: 5px;
    font-size: 14px;
    border-radius: 8px;
}
@media(max-width:767px){
    .dashboard .news .news-box{
        flex-direction: column;
    }
}
/* end dashboard */
