/* global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* end global rules */
/* start components */
:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
}
.header .search{
    position: relative;
}
.header .search input{
    transition: 0.3s;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.3125rem;
    width: 9.375rem;
    font-size: .9rem;
}
.header .search input:focus{
    width: 200px;
}
.header .search input:focus::placeholder{
    opacity: 0;
}
.header .icons{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .icons img{
    width: 1.8rem;
}
.content .title{
    position: relative;
    width: fit-content;
    padding-bottom: 10px;
    font-size: 20px;
}
.content .title::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    bottom: 20px;
}
.content .title::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 3px;
    background: black;
    bottom: 20px;
    z-index: 3;
}
/* end components */
/* start sidebar */
.sidebar{
    position: relative;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    background-color: white;
}
.sidebar h3{
    position: relative;
    padding-bottom: 20px;
    margin-top: 0;
    width: fit-content;
    margin: auto;
}
.sidebar h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    left: 0;
    bottom: 0   ;
}
.sidebar h3::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    bottom: -9px;
    left: 23px;
    border: 5px solid white;
    z-index: 3;
}
.sidebar ul li:first-child{
    margin-top: 20px;
}
.sidebar ul li{
    margin-top: 10px;
    transition: 0.3s;
}
.sidebar ul li:hover,
.sidebar ul .active
{
    background-color:#f6f6f6 ;
    border-radius: 0.5rem;
}
.sidebar ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    padding: 10px;
    border-radius: 8px;
}
.sidebar ul li i{
    margin-right: 10px;
}
@media(max-width:767px){
    .sidebar ul li span{
        display: none;
    }
    .sidebar>h3{
        font-size: 13px;
    }
    .sidebar>h3::after{
        display: none;
    }
    .sidebar>h3::before{
        display: none;
    }
    .sidebar{
        width: 60px;
        padding: 10px;
    }
}
/* end sidebar */
/* start page */
.page{
    min-height: 100vh;
    display: flex;
    background: #f1f5f9;
}
/* end page */
/* start dashboard */
.dashboard{
    width: 100%;
    overflow: hidden;
}
.dashboard .content .grid-box{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 20px;
}
.dashboard .content .grid-box .box{
    position: relative;
    border-radius: 8px;
    background: white;
}
.dashboard .content .grid-box .box .box-title p{
    color: #888;
}
.dashboard .content .box .welcome-head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    background-color: #eee;
}
.dashboard .content .welcome-head img{
    width: 40%;
}
.dashboard .content .welcome-head .avatar{
    position: absolute;    
    width: 13%;
    padding: 5px;
    top: 120px;
    background: white;
    border-radius: 50%;
}
.dashboard .content .welcome-body{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
@media(max-width:767px){
    .dashboard .welcome-body{
        flex-direction: column;
    }
    .dashboard .welcome-body span{
        margin-bottom: 10px;
    }
    .dashboard .welcome-head .welcome-img{
        display: none;
    }
    .dashboard .content .grid-box{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
}
.dashboard .content .welcome-body span{
    display: block;
}
.dashboard .content .button{
    margin: 0 15px 15px auto;
    padding: 5px 10px;
    background: var(--blue-color);
    width: fit-content;
    border-radius: 8px;
}
.dashboard .content .button a{
    color: white;
}
.dashboard .content .draft{
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}
.dashboard .content .draft form input[type=text]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background: #eee;
    border-radius: 8px;
    padding: 6px;
}
.dashboard .content .draft textarea{
    display: block;
    width: 100%;
    height: 200px;
    border: none;
    background: #eee;
    border-radius: 8px;
    padding: 6px;
    resize: none;
    margin-bottom: 20px;
}
.dashboard .content .draft form input[type=submit]{
    width: fit-content;
    margin-left: auto;
    padding: 5px 10px;
    background: var(--blue-color);
    color: white;
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 8px;
}
.dashboard .content .draft form .draft-button:hover{
    background: var(--blue-alt-color);
}
.dashboard .content .draft .draft-button a{
    color: white;
}
.dashboard .content .targets{
    padding: 20px;
}
.dashboard .content .targets .target-progress{
    display: flex;
    gap: 20px;
    position: relative;
}
.dashboard .content .targets .blue .icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cce3ff;
    width: 80px;
    height: 80px;
    color: #0075ff;
    margin-bottom: 20px;
}
.dashboard .content .targets .yellow .icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fdecce;
    width: 80px;
    height: 80px;
    color: #f59e0b;
    margin-bottom: 20px;
}
.dashboard .content .targets .green .icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d2f4df;
    width: 80px;
    height: 80px;
    color: #22c55e;
}
.dashboard .content .targets .target-progress .details{
    flex: 1;
    margin-bottom: 20px;
}
.dashboard .content .targets .target-progress .details span:first-child{
    color: #8d8d8d;
}

.dashboard .content .targets .target-progress .details span:nth-child(2){
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.dashboard .content .targets .target-progress .details .money{
    position: relative;
    height: 4px;
    background: #cce3ff;
}
.dashboard .content .targets .target-progress .details .money>span{
    position: absolute;
    height: 4px;
    background: #0075ff;
}
.dashboard .content .targets .target-progress .details .money>span::after{
    content: "";
    position: absolute;
    border: transparent;
    border-style: solid;
    border-top-color: #0075ff;
    bottom: 6px;
    border-width: 5px;
    right: -5px;
}
.dashboard .content .targets .target-progress .details .money>span span{
    position: absolute;
    right: -16px;
    bottom: 16px;
    background: #0075ff;
    color: white;
    padding: 3px;
    border-radius: 8px;
    font-size: 14px;
}
.dashboard .content .targets .target-progress .details .projects{
    position: relative;
    height: 4px;
    background: #fdecce;
}
.dashboard .content .targets .target-progress .details .projects>span{
    position: absolute;
    height: 4px;
    background: #f59e0b;
}
.dashboard .content .targets .target-progress .details .projects>span::after{
    content: "";
    position: absolute;
    border: transparent;
    border-style: solid;
    border-top-color: #f59e0b;
    bottom: 6px;
    border-width: 5px;
    right: -5px;
}
.dashboard .content .targets .target-progress .details .projects>span span{
    position: absolute;
    right: -16px;
    bottom: 16px;
    background: #f59e0b;
    color: white;
    padding: 3px;
    border-radius: 8px;
    font-size: 14px;
}
.dashboard .content .targets .target-progress .details .team{
    position: relative;
    height: 4px;
    background: #d2f4df;
}
.dashboard .content .targets .target-progress .details .team>span{
    position: absolute;
    height: 4px;
    background: #22c55e;
}
.dashboard .content .targets .target-progress .details .team>span::after{
    content: "";
    position: absolute;
    border: transparent;
    border-style: solid;
    border-top-color: #22c55e;
    bottom: 6px;
    border-width: 5px;
    right: -5px;
}
.dashboard .content .targets .target-progress .details .team>span span{
    position: absolute;
    right: -16.5px;
    bottom: 16px;
    background: #22c55e;
    color: white;
    padding: 3px;
    border-radius: 8px;
    font-size: 14px;
}
.dashboard .stats{
    padding: 20px;
}
.dashboard .stats .stats-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.dashboard .stats .stats-grid .stats-box{
    width: 225px;
    height: 140px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.dashboard .stats .stats-box i{
    margin-top: 20px;
    margin-bottom: 10px;
}
.dashboard .stats .stats-box span:nth-child(2){
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
.dashboard .stats .stats-box span:last-of-type{
    color: #888;
}
.dashboard .stats .total i{
    color: #f59e0b;
}
.dashboard .stats .pending i{
    color: #0075ff;
}
.dashboard .stats .closed i{
    color: #22c55e;
}
.dashboard .stats .deleted i{
    color: #f44336;
}
.dashboard .news{
    padding: 20px;
}
.dashboard .news .news-box{
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.dashboard .news .news-box img{
    width: 100px;
    border-radius: 8px;
}
.dashboard .news .news-box .text{
    flex-grow: 1;
}
.dashboard .news .news-box .text h3{
    font-size: 16px;
}
.dashboard .news .news-box .text p{
    color: #888;
    font-size: 14px;
}
.dashboard .news .news-box .days{
    background: #eee;
    padding: 5px;
    font-size: 14px;
    border-radius: 8px;
}
@media(max-width:767px){
    .dashboard .news .news-box{
        flex-direction: column;
    }
}
.dashboard .tasks{
    padding: 20px;
}
.dashboard .tasks .tasks-box{
    display: flex;
}
.dashboard .tasks .tasks-box .span{
    flex-grow: 1;
}
.dashboard .tasks .tasks-box span:last-of-type{
    display: block;
    color: var(--grey-color);
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding:15px 0;
}
.dashboard .tasks .done{
    opacity: 0.3;
}
.dashboard .tasks .done .span{
    text-decoration: line-through;
}
.dashboard .tasks .tasks-box i{
    transition: 0.3s;
}
.dashboard .tasks .tasks-box i:hover{
    color: var(--red-color);
}
.dashboard .top{
    padding: 20px;
}
.dashboard .top .key{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dashboard .top .key span:first-child , .dashboard .top .key span:last-of-type{
    color: var(--grey-color);
}
.dashboard .top .top-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dashboard .top .top-box span:last-of-type{
    background: #eee;
    padding: 5px 10px;
    border-radius: 8px;
}
.dashboard .uploads .news-box{
    margin-bottom: 0;
    margin-top: 10px;
}
.dashboard .uploads .news-box img{
    width: 40px;
    height: 40px;
}
.dashboard .uploads .news-box .text h3{
    margin: 0;
}
@media(max-width:767px){
    .dashboard .uploads .news-box{
        flex-direction: row;
    }
}
.dashboard .progress{
    padding: 20px;
    position: relative;
}
.dashboard .progress .progress-text{
    position: relative;
}
.dashboard .progress .progress-text::before{
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 16px);
    background: var(--blue-alt-color);
    left: 9px;
}
.dashboard .progress .progress-text li{
    position: relative;
    margin-bottom: 30px;
    transform: translatex(50px);
}
.dashboard .progress .progress-text li::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--blue-color);
    border-radius: 50%;
    z-index: 3;
    left: -48px;
    top: 4px;
}
.dashboard .progress .progress-text li:last-of-type::before{
    background-color: white;
}
.dashboard .progress .progress-text li::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -52.5px;
    top: -0.5px;
    border-radius: 50%;
    background: white;
    border: 2px solid var(--blue-alt-color);
}
.dashboard .progress .progress-img img{
    width: 30%;
    opacity: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
}
@media(max-width:767px){
    .dashboard .progress .progress-img img{
        display: none;
    }
}
.dashboard .remainders{
    padding: 20px;
}
.dashboard .remainders .remainder{
    transform: translateX(30px);
}
.dashboard .remainders .tasks-list{
    position: relative;
}
.dashboard .remainders .tasks-list::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: var(--blue-color);
    border-radius: 50%;
    left: -34px;
    top: 17px;
}
.dashboard .remainders .tasks-list::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: var(--blue-color);
    left: -8px;
    top: 0;
}
.dashboard .remainders .projects::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: var(--green-color);
    border-radius: 50%;
    left: -34px;
    top: 17px;
}
.dashboard .remainders .projects::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: var(--green-color);
    left: -8px;
    top: 0;
}
.dashboard .remainders .clients::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: var(--orange-color);
    border-radius: 50%;
    left: -34px;
    top: 17px;
}
.dashboard .remainders .clients::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: var(--orange-color);
    left: -8px;
    top: 0;
}
.dashboard .remainders .workshop::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: var(--red-color);
    border-radius: 50%;
    left: -34px;
    top: 17px;
}
.dashboard .remainders .workshop::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: var(--red-color);
    left: -8px;
    top: 0;
}

.dashboard .remainders .remainder p{
    font-weight: bold;
    font-size: 14px;
}
.dashboard .remainders .remainder span{
    color: var(--grey-color);
    font-size: 13px;
}
.dashboard .post{
    padding: 20px;
}
.dashboard .post .profile{
    display: flex;
    gap: 20px;
}
.dashboard .post .profile img{
    max-width: 50px;
}
.dashboard .post .profile span:first-of-type{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.dashboard .post .profile span:last-of-type{
    color: var(--grey-color);
}
.dashboard .post p{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee ;
    line-height: 1.5;
    padding: 20px 0;
}
.dashboard .post .icons{
    display: flex;
    justify-content: space-between;
    color: var(--grey-color);
}
.dashboard .social{
    padding: 20px;
}
.dashboard .social .social-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.dashboard .social .social-box .div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard .social .social-box i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.dashboard .social .twitter{
    background-color: rgb(29 161 242 / 20%);
}
.dashboard .social .twitter i{
    padding: 10px;
    margin-right: 15px;
    background-color: #1da1f2;
    border-radius: 8px;
    color: white;
    transition: .3s;
}
.dashboard .social .twitter i:hover{
    transform: rotate(6deg);
}
.dashboard .social .twitter span{
    color: #1da1f2;
}
.dashboard .social .twitter a{
    background-color: #1da1f2;
    color: white;
    padding: 5px 8px;
    border-radius: 8px;
    margin-right: 10px; 
}
.dashboard .social .facebook{
    background-color:rgb(24 119 242 / 20%);
}
.dashboard .social .facebook i{
    padding: 10px;
    margin-right: 15px;
    background-color: #1877f2;
    border-radius: 8px;
    color: white;
    transition: .3s;
}
.dashboard .social .facebook i:hover{
    transform: rotate(6deg);
}
.dashboard .social .facebook span{
    color: #1da1f2;
}
.dashboard .social .facebook a{
    background-color: #1877f2;
    color: white;
    padding: 5px 8px;
    border-radius: 8px;
    margin-right: 10px; 
}
.dashboard .social .youtube{
    background-color: rgb(255 0 0 / 20%);
}
.dashboard .social .youtube i{
    padding: 10px;
    margin-right: 15px;
    background-color: #ff0000;
    border-radius: 8px;
    color: white;
    transition: .3s;
}
.dashboard .social .youtube i:hover{
    transform: rotate(6deg);
}
.dashboard .social .youtube span{
    color: #ff0000;
}
.dashboard .social .youtube a{
    background-color: #ff0000;
    color: white;
    padding: 5px 8px;
    border-radius: 8px;
    margin-right: 10px; 
}
.dashboard .social .linkedin{
    background-color: rgb(0 119 181 / 20%);
}
.dashboard .social .linkedin i{
    padding: 10px;
    margin-right: 15px;
    background-color: #0077b5;
    border-radius: 8px;
    color: white;
    transition: .3s;
}
.dashboard .social .linkedin i:hover{
    transform: rotate(6deg);
}
.dashboard .social .linkedin span{
    color: #0077b5;
}
.dashboard .social .linkedin a{
    background-color: #0077b5;
    color: white;
    padding: 5px 8px;
    border-radius: 8px;
    margin-right: 10px; 
}
.dashboard .table{
    padding: 20px;
    margin-top: 30px;
    background-color: white;
    border-radius: 8px;
}
.dashboard .table .table-size{
    overflow-x: auto;
}
.dashboard .table table{
    min-width: 1000px;
    border-spacing: 0;
}
.dashboard .table table thead{
    background-color: #eee;

}
.dashboard .table table thead td{
    font-weight: bold;
}
.dashboard .table table tr{
    transition: .3s;
}
.dashboard .table table td{
    padding: 20px;
}
.dashboard .table table tbody td{
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.dashboard .table table tbody td:first-child{
    border-left: 1px solid #eee;
}
.dashboard .table table tbody tr:hover{
    background-color: #faf7f7;
}
/* end dashboard */
/* start settings */
.settings{
    width: 100%;
    overflow: hidden;
}
.settings .grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    gap: 20px;
}
.settings .grid .box{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.settings .box .box-title h2{
    margin: 0;
}
.settings .box .box-title p{
    color: var(--grey-color);
}
.settings .website textarea{
    resize: none;
    min-height: 150px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
}
.settings .website .control span:last-of-type{
    display: block;
    margin-top: 10px;
    color: var(--grey-color);
    font-size: 13px;
}